app:
  app_host: '0.0.0.0'
  app_port: '8080'
  app_workers: '2'
  app_domain: 'https://MY.DOMAIN'
  app_timeout: '300'

telegram_bot:
  api_key: 'TOKEN'

nginx:
  ssl_path: '/telegram_unvoicer_bot/nginx/certs'
