server {
    listen 80;

    location / {
         return 200 "Hello!";
    }
}


server {
    listen              443 ssl;
    server_name         {{ server_name }};
    ssl_certificate     {{ cert_path }}/cert.pem;
    ssl_certificate_key {{ cert_path }}/private.key;

    location {{ webhook_url }} {
        proxy_pass http://{{ host }}:{{ port }};
    }
}
